#channel-list {
  margin: 20px;
}

#roles-list {
  margin: 20px;
}

.btn {
  max-width: 100px;
  max-height: 50px;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 15px;
  text-transform: uppercase;
}

.create-btn {
  text-decoration: none;
  color: white;
  background-color: green;
}

.modify-btn {
  text-decoration: none;
  color: white;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 13.3333px Arial;
}

.delete-btn {
  background-color: red;
  color: white;
}

.form-delete {
  margin: 0;
}

.channel {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.role {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

li {
  list-style-type: none;
}
