* {
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: grey;
  color: blue;
}
#left-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  height: 90vh;
  width: 12vw;
  margin-top: 10vh;
  padding: 15px 0 15px 0;
  background-color: lightblue;
  box-shadow: 10px 0px 7px -5px yellow;
}
#users-guild-list {
  list-style-type: none;
  padding-inline-start: 10px;
}

.guild {
  padding: 10px 0 10px 0;
  list-style-type: none;
}

#choose-guild ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}

#up-bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  height: 10vh;
  width: 100vw;
  background-color: black;
  box-shadow: 0 10px 7px -5px yellow;
  z-index: 10;
}

#user-account {
  height: 7vh;
  width: 5vw;
  margin-right: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-account a {
  text-decoration: none;
  font: 600 16px Arial;
  color: yellow;
  width: 100%;
  text-shadow: 1px 1px green;
}

#main {
  padding: 14vh 0 0 5vw;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin-top: 95vh;
  height: 5vh;
  width: 100vw;
  background-color: black;
  box-shadow: 10px -7px 7px 0px yellow;
  z-index: -10;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}

.sign-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 10px;
  margin: 0 auto;
}

i {
  width: 20px;
  height: 20px;
}

.fa-plus {
  cursor: pointer;
}
