.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 7px 5px 7px grey;
  margin: 15px;
  padding: 20px;
}

.message label,
input,
textarea {
  padding: 5px;
  margin: 10px;
}

textarea {
  vertical-align: middle;
}

.message-element {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  justify-content: center;
}
