<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
</head>
<body>
    <h1>Hello from Email1</h1>
    <h4>If you want to stop getting this email, click below</h4>
    <form action="http://localhost:3000/stop/<%= mail.id %>" method="POST">
        <button type="submit">Stop Getting This Stupid Email</button>
    </form>
</body>
</html>