<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 3</title>
</head>
<body>
    <h1>Hello from Email3</h1>
    <h4>If you want to stop getting this email, click below</h4>
    <a href="http://localhost:3000/stop/<%= mail.id %>">Stop Getting This Stupid Email</a>
</body>
</html>