<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create-channel.css" >
    <title>Create Channel</title>
</head>
<body>
    <div><a href="/dashboard/<%= guildId %>/guild-menu" class="go-back">Go Back</a></div>
    <h1>Create Channel</h1>
    <h3>All parameters are optional excluding 'name'.</h3>

    <form action="/dashboard/<%= guildId %>/channels" method="POST" class="form">
        <label for="name">Name </label>
        <input type="text" name="name" id="name" required>
        <input type="hidden" name="type" id="channel-type" value=0>
        <label for="topic">Topic </label>
        <input type="text" id="topic" name="topic">
        <label for="rate-limit-per-user">Rate Limit Per User</label>
        <input type="number" id="rate-limit-per-user" name="rate_limit_per_user">
        <label for="position">Position</label>
        <input type="number" id="position" name="position">
        <label for="parent-id">Parent Id</label>
        <input type="text" id="parent-id" name="parent_id">
        <button type="submit">Create Channel</button>
    </form>
</body>
</html>